<html>
<head>
    <title>criar Pessoas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body class="p-3 mb-2 bg-secondary text-white">
    {% if erro != None %}
        {{ erro }}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div>
        <table>
        {{ form.as_table }} 
        </table>
        </div>
        <div>
        <button type="submit" class="btn btn-primary btn-lg">criar</button>
        </div>
    </form>
</body>
</html>