<html>
<head>
    <title>Listar Pessoas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <table class="table table-dark">
        <tr>
            <th>ID</th>
            <th>NOME</th>
            <TH>IDADE</TH>
        
        </tr>
            {% for pessoa in object_list %}
            <tr>
            <td>{{ pessoa.id }}</td>
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.idade }}</td>
            </tr>
            {% endfor %}
    </table>
  
</body>
</html>